<footer class="footer">
	{{ partial "social.html" . }}

	<p><a href="https://lists.debian.org/debian-l10n-french" target="_blank" rel="noopener">Mailing list</a></p>

	{{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
	<script src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>
</footer>
